<nav class="navbar">
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/register_posts">Register Posts</a></li>
    <li><a href="/contact">Contato</a></li>
  </ul>
</nav>